<!--TODO: create a 'settings' component that will duplicate the functionality shown on the video (also shown during the last lecture before Spring break)-->

<div class="main-div">
    <mat-card class="setting-card">
        <mat-card-title class="title">Goal setting</mat-card-title>
        <div class="progress">
            <mat-slider [(ngModel)]="calories" vertical thumbLabel tickInterval="1000"
            step="250"
            min="1000"
            max="3000" aria-label="units"></mat-slider>
            <mat-slider [(ngModel)]="minutes" vertical thumbLabel tickInterval="1000"
            step="15"
            min="30"
            max="360" aria-label="units"></mat-slider>
        </div>

    </mat-card>

</div>
<div class="second">
    <mat-card class="setting-card">
        <mat-form-field appearance="fill">
            <mat-label>Calories</mat-label>
            <input matInput [(ngModel)]="calories" type="number" max="3000" step="250" min="1000" >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Minutes</mat-label>
            <input matInput [(ngModel)]="minutes" type="number" max="360" step="15" min="30">
          </mat-form-field>
        <div class="second">
            <button mat-button color="accent" routerLink="/" (click)="save()">Save</button>
        </div>
    </mat-card>
</div>
